body {
    font-family: Arial, sans-serif;
    display: flex;
    background: linear-gradient(45deg, #ff9800, #ff5722, #f44336); /* Colores vivos */
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    width: 100%;
}

nav#menu-lateral {
    position: fixed;
    left: 0;
    top: 80px;
    width: 200px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
}

nav#menu-lateral ul {
    list-style: none;
    padding: 0;
}

nav#menu-lateral ul li {
    margin-bottom: 10px;
}

nav#menu-lateral ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border: solid 2px white;
    transition: 0.3s;
}

nav#menu-lateral ul li a:hover {
    background: white;
    color: black;
}

main {
    margin-left: 220px; /* Espacio para el menú lateral */
    padding: 20px;
}

section {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    background: #222;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
